snippet title "config title" b
#==`!p snip.rv = len(t[1])*'='`==
#= ${1:title} =
#==`!p snip.rv = len(t[1])*'='`==


endsnippet

snippet assi3 "assign statement for app" b
assign [class="${1:app}"] ${2:workspace}
endsnippet
